.week-navigation {
  display: flex; /* Enables flexbox */
  align-items: center; /* Aligns items vertically */
  justify-content: space-between; /* Distributes space between and around items */
  margin-bottom: 20px; /* Space below the navigation bar */
}

.calendar-title {
  flex-grow: 1; /* Allows the title to grow and take available space */
  text-align: center; /* Centers the title */
  font-size: 60px; /* Example font size */
  color: #ffffff; /* Example color */
  letter-spacing: 12px; /* Adjusted letter spacing */
  font-weight: 500;
  margin: 0; /* Remove default margins */
}

.week-button {
  /* Style your buttons here */
  background: #4d4db7; /* Example background color */
  color: white; /* Text color */
  border: none;
  padding: 10px 20px; /* Padding around text */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  font-size: 16px; /* Font size */
}

/* Additional styles for the calendar */
.calendar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 55%;
  margin: 0 auto;
  height: 65vh;
  gap: 5px;
}

.calendar-subtitle {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 400;
  color: #90a9b4;
}

.calendar-header {
  font-size:50px;
  color: #efefef;
  letter-spacing: 12px;
  text-align: center;
  font-weight: 800;
}

/* Adjustments for buttons */
#prev_button {
  /* Float and margin removed to align with flexbox */
}

#next_button {
  /* Float and margin removed to align with flexbox */
}

